In [1]:
import pandas as pd

In [2]:
import os

In [3]:
os.getcwd()

'/workspaces/MLOps-Zoomcamp/01-Intro'

In [4]:
df_jan = pd.read_parquet('./NY Taxi Data/yellow_tripdata_2023-01.parquet')

In [5]:
df_jan.head(5)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.3,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.9,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.9,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.1,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.4,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00

In [6]:
df_jan['PULocationID'].value_counts()

PULocationID
132    160030
237    148074
236    138391
161    135417
186    109227
        ...
111         2
184         2
187         2
199         2
58          2
Name: count, Length: 257, dtype: int64

In [7]:
df_jan['DOLocationID'].value_counts()

DOLocationID
236    146348
237    132364
161    116149
230     89878
170     88783
        ...
187        17
84         16
204        14
99          5
105         1
Name: count, Length: 261, dtype: int64

In [8]:
len(df_jan.columns)

19

In [9]:
# Calculate duration in minutes from tpep_pickup_datetime and tpep_dropoff_datetime
df_jan['duration'] = (df_jan['tpep_dropoff_datetime'] - df_jan['tpep_pickup_datetime']).dt.total_seconds() / 60

In [10]:
df_jan.head(5)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee,duration
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.3,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00,8.433333
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.9,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00,6.316667
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.9,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00,12.750000
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.1,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25,9.616667
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.4,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00,10.833333

In [11]:
# Calculate standard deviation for duration
std_dev_duration = df_jan['duration'].std()

In [12]:
print(f"Standard deviation of trip durations : {std_dev_duration} minutes")

Standard deviation of trip durations : 42.594351241920904 minutes

In [13]:
# Remove outliers and keep only records where duration is between 1 and 60 (inclusive)

In [14]:
orig_len = len(df_jan)
print('number of records before removing outliers : ',orig_len)

number of records before removing outliers :  3066766

In [15]:
# Filter records to keep only durations between 1 and 60 minutes
df_filtered = df_jan[(df_jan['duration'] >= 1) & (df_jan['duration'] <= 60)]

In [16]:
new_len = len(df_filtered)
print('number of records after removing outliers : ',new_len)

number of records after removing outliers :  3009173

In [17]:
percentage_left = (new_len/orig_len)*100

In [18]:
print('fraction of the records left after dropping the outliers : ',percentage_left)

fraction of the records left after dropping the outliers :  98.1220282212598

In [19]:
df_filtered.head(5)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee,duration
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.3,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00,8.433333
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.9,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00,6.316667
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.9,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00,12.750000
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.1,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25,9.616667
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.4,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00,10.833333

In [20]:
df_filtered['DOLocationID'].value_counts()

DOLocationID
236    145424
237    131472
161    114979
170     87998
230     87755
        ...
109        16
187        14
84         10
204         8
99          1
Name: count, Length: 260, dtype: int64

In [21]:
df_filtered['PULocationID'].value_counts()

PULocationID
237    147082
132    144529
236    137402
161    134047
186    108346
        ...
30          2
58          2
109         1
221         1
245         1
Name: count, Length: 255, dtype: int64

In [22]:
df_filtered.columns

Index(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'RatecodeID', 'store_and_fwd_flag',
       'PULocationID', 'DOLocationID', 'payment_type', 'fare_amount', 'extra',
       'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge',
       'total_amount', 'congestion_surcharge', 'airport_fee', 'duration'],
      dtype='object')

In [23]:
df_filtered = df_filtered.copy()

In [24]:
# cast IDs into strings
df_filtered['PULocationID'] = df_filtered['PULocationID'].astype(str)
df_filtered['DOLocationID'] = df_filtered['DOLocationID'].astype(str)

In [25]:
df_filtered.dtypes

VendorID                          int64
tpep_pickup_datetime     datetime64[ns]
tpep_dropoff_datetime    datetime64[ns]
passenger_count                 float64
trip_distance                   float64
RatecodeID                      float64
store_and_fwd_flag               object
PULocationID                     object
DOLocationID                     object
payment_type                      int64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
improvement_surcharge           float64
total_amount                    float64
congestion_surcharge            float64
airport_fee                     float64
duration                        float64
dtype: object

In [26]:
# Convert the df into a list of dicts with only pick-up, drop-off location IDs and trip distance
dict_list = df_filtered[['PULocationID', 'DOLocationID','trip_distance']].to_dict(orient='records')

In [27]:
# Fit a dictionary vectorizer
from sklearn.feature_extraction import DictVectorizer

In [29]:
# Init vectorizer
vec = DictVectorizer()

In [30]:
X_train = vec.fit_transform(dict_list)

In [31]:
X_train.shape

(3009173, 516)

In [32]:
X_train

<3009173x516 sparse matrix of type '<class 'numpy.float64'>'
	with 9027519 stored elements in Compressed Sparse Row format>

In [33]:
y_train = df_filtered['duration'].values

In [34]:
# Train linear regression model and calculate RMSE

In [35]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [36]:
lr = LinearRegression()

In [37]:
lr.fit(X_train,y_train)

LinearRegression()

In [38]:
y_pred = lr.predict(X_train)

In [39]:
# RMSE on training data
rmse = mean_squared_error(y_train, y_pred, squared=False)

In [40]:
print('rmse on training data : ',rmse)

rmse on training data :  7.658405791284101

In [41]:
# Eval data on 2023 Feb data
df_feb = pd.read_parquet('./NY Taxi Data/yellow_tripdata_2023-02.parquet')

In [42]:
# Calculate duration
df_feb['duration'] = (df_feb['tpep_dropoff_datetime'] - df_feb['tpep_pickup_datetime']).dt.total_seconds() / 60

In [43]:
# Filter records to keep only durations between 1 and 60 minutes
df_filtered = df_feb[(df_feb['duration'] >= 1) & (df_feb['duration'] <= 60)]

In [44]:
df_filtered = df_filtered.copy()
# cast IDs into strings
df_filtered['PULocationID'] = df_filtered['PULocationID'].astype(str)
df_filtered['DOLocationID'] = df_filtered['DOLocationID'].astype(str)

In [45]:
# Convert the df into a list of dicts with only pick-up, drop-off location IDs and trip distance
dict_list = df_filtered[['PULocationID', 'DOLocationID','trip_distance']].to_dict(orient='records')

In [46]:
X_test = vec.transform(dict_list)

In [47]:
X_test

<2855951x516 sparse matrix of type '<class 'numpy.float64'>'
	with 8567845 stored elements in Compressed Sparse Row format>

In [48]:
y_test = df_filtered['duration'].values

In [49]:
y_pred = lr.predict(X_test)

In [51]:
rmse = mean_squared_error(y_test, y_pred, squared=False)
print('rmse on training data : ',rmse)

rmse on training data :  7.820130202182722